In [18]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import re
from sklearn.impute import SimpleImputer
from sklearn.impute import KNNImputer

pd.options.display.max_columns = None

In [2]:
df = pd.read_csv("attacks_columnas_limpias.csv", index_col = 0)
df.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,fatal_(y/n),injury,date
0,1800.00.00,1927.164067,Unprovoked,seychelles,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,"FATAL, all onboard were killed by sharks",1800
1,1797.05.28.R,1927.164067,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,FATAL,Reported May-28-1797

### EJERCICIO 1:
Es el momento de eliminar los nulos:
 - Reemplazad los valores nulos de la columna age por la media de la edad usando el m√©todo SimpleImputer.

<font color ='red'>A√∫n no podemos hacerlo porque primero hay que limpiar la columna age.

 - Reemplazad los valores nulos de la columna sex por la moda, usando el m√©todo SimpleImputer.
üí° ** Pista** üí° La moda en este tipo de aproximaci√≥n se indica como most_frequent.

In [6]:
imputer = SimpleImputer(strategy='most_frequent', missing_values=np.nan)

In [7]:
imputer = imputer.fit(df[['sex_']])

In [8]:
df['sex_mode'] = imputer.transform(df[['sex_']])

In [9]:
df.isnull().sum()

case_number       1
year              0
type              4
country          50
area            454
location        539
activity        542
name            209
sex_            564
age            2820
time           3340
species_       2831
href              0
fatal_(y/n)     534
injury           28
date              0
sex_mode          0
dtype: int64

In [11]:
df['sex_mode'].unique()

array(['F', 'M', 'M ', 'lli', 'N', '.'], dtype=object)

<font color ='orange'>Hemos creado una columna nueva para sex, rellenando los valores nulos por aquellos valores m√°s frecuentes.

 - Reemplazad los valores nulos de la columna type por el valor m√°s frecuente (la moda) con el m√©todo SimpleImputer.

In [12]:
imputer = imputer.fit(df[['type']])

In [13]:
df['type_mode'] = imputer.transform(df[['type']])

In [14]:
df.isnull().sum()

case_number       1
year              0
type              4
country          50
area            454
location        539
activity        542
name            209
sex_            564
age            2820
time           3340
species_       2831
href              0
fatal_(y/n)     534
injury           28
date              0
sex_mode          0
type_mode         0
dtype: int64

In [15]:
df['type_mode'].unique()

array(['Unprovoked', 'Provoked', 'Boat', 'Sea Disaster', 'Invalid',
       'Boating', 'Questionable', 'Boatomg'], dtype=object)

<font color ='orange'>Mantenemos el imputer del ejercicio anterior ya que continuamos obteniendo la moda de los valores. Comprobamos que ya no tenemos nulos en la nueva columna.

 - Utilizad el m√©todo KNN Imputer para reemplazar todos los valores nulos de las columnas num√©ricas.

In [16]:
numericas = df.select_dtypes(include = np.number)

In [17]:
numericas.isnull().sum()

year    0
dtype: int64

In [ ]:
imputerKNN = KNNImputer(n_neighbors=5)
imputerKNN.fit(numericas)

In [ ]:
numericas_knn= imputerKNN.transform(numericas)

In [ ]:
df_knn_imputer = pd.DataFrame(numericas_knn, columns = numericas.columns)

 - Utilizad el m√©todo Iterative Imputer para reemplazar todos los valores nulos de las columnas num√©ricas.

<font color ='red'> Hay que trabajar con la columna age. Primero tiene que estar limpia. Con year no se puede porque no tiene nulos. Fueron sustituidos ppor la media.