In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

pd.options.display.max_columns = None

In [2]:
df = pd.read_csv("attacks_columnas_limpias copy.csv", index_col = 0)
df.sample(5)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,fatal_(y/n),injury,date,age_new
6215,1842.07.06,1927.133059,Provoked,usa,New Jersey,"Absecon, Atlantic County",Harassing a shark,male,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,N,Lacerations to leg PROVOKED INCIDENT,06-Jul-1842,NaN
4526,1953.08.00,1953.000000,Invalid,mexico,Guerrero,Acapulco,Free diving,Arthur R. Satz,M,19,17h30,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,No injury,Aug-1953,19.0
4129,1960.08.22,1960.000000,Unprovoked,usa,New Jersey,"Seaside Park, Ocean County",NaN,Thomas McDonald,M,14,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,N,Knee ripped to bone,22-Aug-1960,14.0
5944,1883.00.00.b,1883.000000,Invalid,usa,South Carolina,"Bulls Bay, near Charleston",NaN,adult male,M,NaN,NaN,Shark involvement prior to death unconfirmed,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,"Body found with arm severed by shark, but shar...",1883,NaN
4667,1949.07.25,1949.000000,Unprovoked,usa,South Carolina,"Oketee River, Jasper County",Floating on his back,Ted Roach,M,16,15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,N,"Abdomen abraded, thigh lacerated",25-Jul-1949,16.0

<font color = 'sky blue'> EJERCICIO 1: Lo primero qué tenemos que evaluar es en que columnas tenemos nulos y que cantidad tenemos en cada una. ¿Hay alguna columna con una gran cantidad de nulos? En caso de que sea así deberemos eliminarla.

In [3]:
nulos = pd.DataFrame((df.isnull().sum() * 100) / df.shape[0]).reset_index()
nulos.columns = ["columna", "porcentaje"]
nulos

        columna  porcentaje
0   case_number    0.015803
1          year    0.000000
2          type    0.063211
3       country    0.790139
4          area    7.206068
5      location    8.565107
6      activity    8.596713
7          name    3.302781
8          sex_    8.991783
9           age   44.563843
10         time   53.160556
11     species_   44.958913
12         href    0.000000
13  fatal_(y/n)    8.628319
14       injury    0.442478
15         date    0.000000
16      age_new   45.037927

<font color = 'sky blue'> EJERCICIO 2:
 - Reemplazad los valores nulos de la columna age por la media de la edad, redondeada a dos decimales.

In [4]:
df['age'].fillna(df['age'].median ,inplace = True)

In [5]:
df.isnull().sum()

case_number       1
year              0
type              4
country          50
area            456
location        542
activity        544
name            209
sex_            569
age               0
time           3364
species_       2845
href              0
fatal_(y/n)     546
injury           28
date              0
age_new        2850
dtype: int64

<font color = 'sky blue'> 
 - En relación a la columna de country al tratarse de una columna de tipo categórica, reemplazad los valores nulos por una nueva categória que se llame Unknown.

In [6]:
df['country'].replace(np.nan, "Unknown", inplace = True)

In [7]:
df.isnull().sum()

case_number       1
year              0
type              4
country           0
area            456
location        542
activity        544
name            209
sex_            569
age               0
time           3364
species_       2845
href              0
fatal_(y/n)     546
injury           28
date              0
age_new        2850
dtype: int64

<font color = 'sky blue'> - Reemplazad los valores nulos de la columna fatal por Unknown

In [8]:
df['fatal_(y/n)'].replace(np.nan, "Unknown", inplace = True)

In [9]:
df.isnull().sum()

case_number       1
year              0
type              4
country           0
area            456
location        542
activity        544
name            209
sex_            569
age               0
time           3364
species_       2845
href              0
fatal_(y/n)       0
injury           28
date              0
age_new        2850
dtype: int64

<font color = 'sky blue'> - Reemplazad los valores nulos de la columna type por el valor más frecuente (la moda)

In [10]:
df["type"].replace(np.nan, df.type.mode()[0], inplace = True)

In [11]:
df.isnull().sum()

case_number       1
year              0
type              0
country           0
area            456
location        542
activity        544
name            209
sex_            569
age               0
time           3364
species_       2845
href              0
fatal_(y/n)       0
injury           28
date              0
age_new        2850
dtype: int64

<font color = 'sky blue'> - Reemplazad los valores nulos de la columna fecha por Unknown

In [12]:
df['date'].replace(np.nan, "Unknown", inplace = True)

In [13]:
df.isnull().sum()

case_number       1
year              0
type              0
country           0
area            456
location        542
activity        544
name            209
sex_            569
age               0
time           3364
species_       2845
href              0
fatal_(y/n)       0
injury           28
date              0
age_new        2850
dtype: int64

<font color = 'sky blue'>  EJERCICIO 3: Guardad el csv para seguir trabajando con el en los siguientes ejercicios de pair

In [15]:
df.to_csv('attacks_columnas_nulos_limpios.csv')

RecursionError: maximum recursion depth exceeded while calling a Python object

<font color = 'red'>(está todo hecho pero no nos da error al abrir el df. 
Dice: recursion error: maximum recursion depth exceeded while calling a Python object)