In [5]:
from IPython.core.interactiveshell import InteractiveShell # Nos permite mostar más de una salida por celda
InteractiveShell.ast_node_interactivity = "all" # Nos permite mostar más de una salida por celda

import requests
import pandas as pd
import numpy as np

<font color = 'orange'>Creamos el df vacío

In [8]:
df = pd.DataFrame()

<font color = 'orange'>Creamos el diccionario con todas las keys y values, desde donde iteraremos en el bucle for

In [9]:
diccionario = {'USA':[39.7837304, -100.445882], 'Australia': [-24.7761086, 134.755], 'South Africa': [-28.8166236, 24.991639],
                'New Zealand': [41.5000831, 172.8344077], 'Papua New Guinea': [-5.6816069, 144.2489081]}

<font color = 'orange'>Creamos bucle for donde iteramos por cada key del diccionario y, a continuación, lo incluiremos dentro del df vacío.

In [10]:
for key, value in diccionario.items():
    url = f'http://www.7timer.info/bin/api.pl?lon=-{lon}&lat={lat}&product={producto}&output=json'
    lat = value[0]
    lon = value[1]

    response = requests.get(url=url)
    response.status_code
    response.reason
    df = pd.DataFrame(diccionario)

    print(key, value)

200

'OK'

USA [39.7837304, -100.445882]

200

'OK'

Australia [-24.7761086, 134.755]

200

'OK'

South Africa [-28.8166236, 24.991639]

200

'OK'

New Zealand [41.5000831, 172.8344077]

200

'OK'

Papua New Guinea [-5.6816069, 144.2489081]

<font color = 'orange'>Comprobamos que se ha incluido de forma correcta la información en el df, pero observamos que las columnas están traspuestas.

In [11]:
df

          USA   Australia  South Africa  New Zealand  Papua New Guinea
0   39.783730  -24.776109    -28.816624    41.500083         -5.681607
1 -100.445882  134.755000     24.991639   172.834408        144.248908

<font color = 'orange'>Utilizamos el método transpose() para cambiar columnas por filas, y viceversa.

In [12]:
df = df.transpose()

<font color = 'orange'>Cambiamos el nombre de las columnas.

In [13]:
df = df.rename(columns = {0:'Latitud', 1:'Longitud'})

<font color = 'orange'>Cambiamos el nombre del index por 'Paises' y hacemos reset_index() para crear la columna 'Paises'

In [15]:
df.index.name = 'Paises'

In [16]:
df.reset_index()

             Paises    Latitud    Longitud
0               USA  39.783730 -100.445882
1         Australia -24.776109  134.755000
2      South Africa -28.816624   24.991639
3       New Zealand  41.500083  172.834408
4  Papua New Guinea  -5.681607  144.248908

<font color = 'orange'>Guardamos el df en un csv para utilizarlo mañana.

In [17]:
df.to_csv('etl_1.csv')