In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import re

pd.options.display.max_columns = None

In [3]:
df = pd.read_csv("attacks_limpieza_1.csv", index_col = 0)
df.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,fatal_(y/n),injury,date
0,1800.00.00,1800,Unprovoked,seychelles,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,"FATAL, all onboard were killed by sharks",1800
1,1797.05.28.R,1797,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,FATAL,Reported May-28-1797

### EJERCICIO 1 ###

Columna de species: si exploramos esta columna en detalle nos podemos dar cuenta que tenemos muchos valores únicos y esto hace que sea muy difícil trabajar con esta columna. Lo que vamos a hacer es clasificar los tiburones en 5 especies diferentes, las más comunes, que incluyen el tiburón blanco (White), el tiburón tigre (Tiger ), el tiburón gris (Grey), el tiburón limón (Lemon) y el tiburón toro (Bull). El resto de las especies las incluiremos en un único grupo que podremos llamar "Unspecified".

In [4]:
patron_blanco = ".*(hite|HITE).*"
patron_tigre = '.*(iger|IGER).*'
patron_gris = '.*(rey|REY).*'
patron_limon = '.*(emon|EMON).*'
patron_toro = '.*(ull|ULL).*'

In [6]:
copia_df = df.copy()

In [30]:
clase_tiburon = []

def especie_tiburon(x):
    
    especies = copia_df[x]

    for row in especies:
        if re.match(patron_blanco, str(row)):
            clase_tiburon.append('White')
        elif re.match(patron_gris, str(row)):
            clase_tiburon.append('Grey')
        elif re.match(patron_tigre, str(row)):
            clase_tiburon.append('Tiger')
        elif re.match(patron_limon, str(row)):
            clase_tiburon.append('Lemon')
        elif re.match(patron_toro, str(row)):
            clase_tiburon.append('Bull')
        else:
            clase_tiburon.append('Undefined')

In [31]:
especie_tiburon('species_')

In [32]:
copia_df['shark_type'] = clase_tiburon

In [37]:
copia_df.sample()

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,fatal_(y/n),injury,date,shark_type
4158,1960.04.10,1960,Provoked,australia,Western Australia,Off Rottnest Island,"Spearfishing, shot a sandtiger shark. Cord to ...",Mick Coleman,M,nan,NaN,"Sandtiger shark, 2.1 m [7']",http://sharkattackfile.net/spreadsheets/pdf_di...,N,"Bruises & minor injuries from reef, not the sh...",10-Apr-1960,Tiger

### EJERCICIO 2 ###

Columna de age: es una columna de tipo string pero debería ser de tipo integer. Además, en esta columna nos vamos a encontrar con algunos errores tipográficos:
 - Edaden formato string
 - Edades separadas por &, or, to, >
 - Edades con ?

In [48]:
copia_df['age'] = copia_df['age'].astype(str)

In [49]:
patron_edades = "^[0-9]"